# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
AdminApp/AdminSmartbin/coverage/
AdminApp/AdminSmartbin/dist/
AdminApp/AdminSmartbin/node_modules/
AdminApp/AdminSmartbin/tmp/
AdminApp/AdminSmartbin/temp/
AdminApp/AdminSmartbin/hooks/
AdminApp/AdminSmartbin/platforms/
AdminApp/AdminSmartbin/plugins/
AdminApp/AdminSmartbin/plugins/android.json
AdminApp/AdminSmartbin/plugins/ios.json
AdminApp/AdminSmartbin/www/
$RECYCLE.BIN/
.DS_Store
AdminApp/AdminSmartbin/Thumbs.db
AdminApp/AdminSmartbin/UserInterfaceState.xcuserstate
AdminApp/AdminSmartbin/cors-policy.xml
AdminApp/AdminSmartbin/mobile-hub-project.zip
AdminApp/AdminSmartbin/appsync-info.json
AdminApp/AdminSmartbin/aws-info.json
AdminApp/AdminSmartbin/project-info.json
AdminApp/AdminSmartbin/aws-exports.*
AdminApp/AdminSmartbin/awsmobilejs/.awsmobile/backend-build
AdminApp/AdminSmartbin/awsmobilejs/\#current-backend-info
AdminApp/AdminSmartbin/~awsmobilejs-*/

UserApp/SmartBin/coverage/
UserApp/SmartBin/dist/
UserApp/SmartBin/node_modules/
UserApp/SmartBin/tmp/
UserApp/SmartBin/temp/
UserApp/SmartBin/hooks/
UserApp/SmartBin/platforms/
UserApp/SmartBin/plugins/
UserApp/SmartBin/plugins/android.json
UserApp/SmartBin/plugins/ios.json
UserApp/SmartBin/www/
UserApp/SmartBin/Thumbs.db
UserApp/SmartBin/UserInterfaceState.xcuserstate
UserApp/SmartBin/cors-policy.xml
UserApp/SmartBin/mobile-hub-project.zip
UserApp/SmartBin/appsync-info.json
UserApp/SmartBin/aws-info.json
UserApp/SmartBin/project-info.json
UserApp/SmartBin/aws-exports.*
UserApp/SmartBin/awsmobilejs/.awsmobile/backend-build
UserApp/SmartBin/awsmobilejs/\#current-backend-info
UserApp/SmartBin/~awsmobilejs-*/

CollectorApp/myApp/coverage/
CollectorApp/myApp/dist/
CollectorApp/myApp/node_modules/
CollectorApp/myApp/tmp/
CollectorApp/myApp/temp/
CollectorApp/myApp/hooks/
CollectorApp/myApp/platforms/
CollectorApp/myApp/plugins/
CollectorApp/myApp/plugins/android.json
CollectorApp/myApp/plugins/ios.json
CollectorApp/myApp/www/
CollectorApp/myApp/Thumbs.db
CollectorApp/myApp/UserInterfaceState.xcuserstate
CollectorApp/myApp/cors-policy.xml
CollectorApp/myApp/mobile-hub-project.zip
CollectorApp/myApp/appsync-info.json
CollectorApp/myApp/aws-info.json
CollectorApp/myApp/project-info.json
CollectorApp/myApp/aws-exports.*
CollectorApp/myApp/awsmobilejs/.awsmobile/backend-build
CollectorApp/myApp/awsmobilejs/\#current-backend-info
CollectorApp/myApp/~awsmobilejs-*/